# Specified by the white list below
### all ignore ###
/*
/.**

### white list ###
!raycast-scripts
!/.zshrc
!/.vimrc
!/.bin/
!/.bin/**
!/.gitignore_global
!/.gitconfig
!/.zsh
!/.zsh/**

!/README.md
!.gitignore
!.gitkeep
